*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 255, 254);
}

main{
    width: 100%;
    height: 100vh;
}

main .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container h1{
    font-family: monospace;
    font-size: 5rem;
}

main .container .value{
    margin-top: 20px;
    font-size: 7rem;
    font-family: sans-serif;
}

main .container .button-container .btn{
    color: black;
    margin-left: 20px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.3rem;
    border-color: black;
    border:2px solid;
    transition: background-color .3s ease ;
}

main .container .button-container .btn:hover{
    background-color: teal;
    color: white;
    cursor: pointer;
    border: 2px solid black;
}